body,html{
	height:1800px;
}
.up {
	display: none; 
	width: 100px;
	height: 20px;
	background:rgba(255,0,255,0.5);
	color:#fff;
	position: absolute;
	right: 100px;
	bottom: 150px;
	text-align: center;
}
.toup{
	position: relative;
}
